
VITE_EMAILJS_SERVICE_ID=service_XXXXXXX
VITE_EMAILJS_ADMIN_TEMPLATE_ID=template_XXXXXXX
VITE_EMAILJS_PATIENT_TEMPLATE_ID=template_XXXXXXX
VITE_EMAILJS_PUBLIC_KEY=XXXXXXXXXXXXXXXX


VITE_WEB3FORMS_KEY=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX


VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec


VITE_UPI_ID=yourupi@bank


VITE_BACKEND_URL=https://your-backend.vercel.app
